@font-face {
    font-family: 'iconfont';  /* project id 1183288 */
    src: url('//at.alicdn.com/t/font_1183288_ppdvsy766in.eot');
    src: url('//at.alicdn.com/t/font_1183288_ppdvsy766in.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1183288_ppdvsy766in.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1183288_ppdvsy766in.woff') format('woff'),
    url('//at.alicdn.com/t/font_1183288_ppdvsy766in.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1183288_ppdvsy766in.svg#iconfont') format('svg');
  } 